//Mixins
@mixin prefix($element, $value) {
  -moz-#{$element}: $value;
  -o-#{$element}: $value;
  -ms-#{$element}: $value;
  -webkit-#{$element}: $value;
  #{$element}: $value;
}

//Helpers
%center {
  margin-left: auto;
  margin-right: auto;
}

/* General Styles*/
.main {
  @extend %center;
  max-width: 1300px;
  margin-top: 5%;
  height: 500px;
}
.col {
  @extend %center;
  float: left;
  margin-bottom: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.front {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  width: 260px;
  height: 320px;
}
.back {
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  width: 260px;
  height: 320px;
  max-width: 260px;
}
p {
  padding-top: 45%;
  font-size: 40px;
}


/*Mobile Passienja Flipper*/
.mobile {
  .flip-container {
    @include prefix(perspective, 1000);
    @include prefix(transform-style, preserve-3d);
  }
  .flip-container.hover {
    .back {
      @include prefix(transform, rotateY(0deg));
    }
    .front {
      @include prefix(transform, rotateY(180deg));
    }
  }
  .flipper {
    @include prefix(transition, 0.6s);
    @include prefix(transform-style, preserve-3d);
    position: relative;
  }
  .front {
    @include prefix(backface-visibility, hidden);
    @include prefix(transition, 0.6s);
    @include prefix(transform-style, preserve-3d);
    @include prefix(transform, rotateY(0deg));
    z-index: 2;
  }
  .back {
    @include prefix(backface-visibility, hidden);
    @include prefix(transition, 0.6s);
    @include prefix(transform-style, preserve-3d);
    @include prefix(transform, rotateY(180deg));
    position: absolute;
    text-align: center;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/*Tablet Passienja Flipper*/
@media (min-width: 480px) {
  .tablet {
    .flip-container {
      @include prefix(perspective, 1000);
      @include prefix(transform-style, preserve-3d);
    }
    .flip-container.hover {
      .back {
        @include prefix(transform, rotateY(0deg));
      }
      .front {
        @include prefix(transform, rotateY(180deg));
      }
    }
    .flipper {
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      position: relative;
    }
    .front {
      @include prefix(backface-visibility, hidden);
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      @include prefix(transform, rotateY(0deg));
      z-index: 2;
    }
    .back {
      @include prefix(backface-visibility, hidden);
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      @include prefix(transform, rotateY(180deg));
      position: absolute;
      text-align: center;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
/*Desktop Passienja Flipper*/
@media (min-width: 1025px) {
  .desktop {
    .flip-container {
      @include prefix(perspective, 1000);
      @include prefix(transform-style, preserve-3d);
    }
    .flip-container.hover {
      .back {
        @include prefix(transform, rotateY(0deg));
      }
      .front {
        @include prefix(transform, rotateY(180deg));
      }
    }
    .flipper {
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      position: relative;
    }
    .front {
      @include prefix(backface-visibility, hidden);
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      @include prefix(transform, rotateY(0deg));
      z-index: 2;
    }
    .back {
      @include prefix(backface-visibility, hidden);
      @include prefix(transition, 0.6s);
      @include prefix(transform-style, preserve-3d);
      @include prefix(transform, rotateY(180deg));
      position: absolute;
      text-align: center;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
